<div class="new-whole">
  <div class="new-center">
    <div class="new-login">
      <h1 class="new-apl_name">InstaGracious</h1>
      <%= form_with(model: @user, local: true) do |f| %>
        <div class="new-message">
          <% if @user.errors.any? %>
            <div id="error_explanation" class="alert alert-danger" role="alert">
              <h2><%= @user.errors.count %>件のエラーがあります。</h2>
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="new-input_item form-group">
           <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
        </div>
        <div class="new-input_item form-group">
           <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
        </div>
        <div class="new-input_item form-group">
           <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
        </div>
        <div class="new-input_item form-group">
           <%= f.password_field :password_confirmation, class: "form-control", placeholder: "確認用パスワード" %>
        </div>
        <div class="new-input_submit">
          <%= f.submit "登録する" %>
        </div>
      <% end %>
    </div>
    <div class="new-to_account_registration">
      <p>
        アカウントをお持ちですか？
        <%= link_to("ログインする", new_session_path) %>
      </p>
    </div>
  </div>
</div>
