<header>
  <div class="container-fluid">
    <div class="row">
      <div class="header_left hidden-xs hidden-sm col-md-3"></div>
      <div class="header_center_left col-xs-5 col-md-2">
        <h4 class="apl_name"><a href="<%= pictures_path %>">InstaGracious</a></h4>
      </div>
      <div class="header_center_center col-xs-2 col-md-1">
        <a class="btn btn-default btn-xs" href="<%= user_path(current_user.id) %>" role="button">
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
        </a>
        <a class="btn btn-default btn-xs" href="<%= user_path(current_user.id) %>" role="button">
          <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
        </a>
      </div>
      <div class="header_center_right col-xs-5 col-md-2">
        <p class="user_link">
          <%= link_to("#{current_user.name}", user_path(current_user.id)) %>
        </p>
      </div>
      <div class="header_right hidden-xs hidden-sm col-md-4"></div>
    </div>
  </div>
  user show
  <%= current_user.name %>
  <%= current_user.id %>
  <%= @user.name %>
  <%= @user.id %>
</header>
