<header>
  <div class="container-fluid">
    <div class="row">
      <div class="header_left hidden-xs hidden-sm col-md-3"></div>
      <div class="header_center_left col-xs-5 col-md-2">
        <h4 class="apl_name"><a href="<%= pictures_path %>">InstaGracious</a></h4>
      </div>
      <div class="header_center_center col-xs-2 col-md-1">
        <a class="btn btn-default btn-xs" href="<%= user_path(current_user.id) %>" role="button">
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
        </a>
        <a class="btn btn-default btn-xs" href="<%= user_path(current_user.id) %>" role="button">
          <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
        </a>
      </div>
      <div class="header_center_right col-xs-5 col-md-2">
        <p class="user_link">
          <%= link_to("#{current_user.name}", user_path(current_user.id)) %>
        </p>
      </div>
      <div class="header_right hidden-xs hidden-sm col-md-4"></div>
    </div>
  </div>
</header>
<div class="new-area">
  <div class="container-fluid">
    <div class="row">
      <div class="new-left hidden-xs hidden-sm col-md-3"></div>
      <div class="new-center col-xs-12 col-md-5">
        <div class="new-content">
          <%= form_with(model: @picture, local: true, url: newconfirm_pictures_path ) do |f| %>
            <div class="new-message">
              <% if @picture.errors.any? %>
                <div id="error_explanation" class="alert alert-danger" role="alert">
                  <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
                  <ul>
                  <% @picture.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
            <div class="new-content_image">
              <label>画像</label>
              <div id="img_field" onClick="$('#file').click()" >
                <%= image_tag @picture.image.url if @picture.image && @picture.image.url %>
              </div>
              <div class="new-content_image_input">
                <%= f.file_field :image, class: "image", id: "file" %>
                <%= f.hidden_field :image_cache %>
              </div>
              <script type="text/javascript">
                $(function(){
                  $fileField = $('#file')
                  $($fileField).on('change', $fileField, function(e) {
                    file = e.target.files[0]
                    reader = new FileReader(),
                    $preview = $("#img_field");
                    reader.onload = (function(file) {
                      return function(e) {
                        $preview.empty();
                        $preview.append($('<img>').attr({
                          src: e.target.result,
                          width: "100%",
                          class: "preview",
                          title: file.name
                        }));
                      };
                    })(file);
                    reader.readAsDataURL(file);
                  });
                });
              </script>
            </div>
            <div class="new-content_comment">
              <div class="form-group">
                <%= f.text_area :comment, class: "form-control", placeholder: "コメント"  %>
              </div>
            </div>
            <div class="new-content_submit">
              <%= f.submit "投稿確認" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="new-right hidden-xs hidden-sm col-md-4"></div>
    </div>
  </div>
</div>
