<header>
  <div class="container-fluid">
    <div class="row">
      <div class="header_left hidden-xs hidden-sm col-md-3"></div>
      <div class="header_center_left col-xs-5 col-md-2">
        <h4 class="apl_name"><a href="<%= pictures_path %>">InstaGracious</a></h4>
      </div>
      <div class="header_center_center col-xs-2 col-md-1">
        <a class="btn btn-default btn-xs" href="<%= new_picture_path %>" role="button">
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
        </a>
        <a class="btn btn-default btn-xs" href="<%= user_path(current_user.id) %>" role="button">
          <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
        </a>
      </div>
      <div class="header_center_right col-xs-5 col-md-2">
        <p class="user_link">
          <%= link_to("#{current_user.name}", user_path(current_user.id)) %>
        </p>
      </div>
      <div class="header_right hidden-xs hidden-sm col-md-4"></div>
    </div>
  </div>
</header>
<div class="whole-area">
  <div class="container-fluid">
    <div class="row">
      <div class="left hidden-xs hidden-sm col-md-3"></div>
      <div class="center col-xs-12 col-md-5">
        <%= form_with(model: @picture, local: true ) do |f| %>
          <div class="content">
            <div class="content_image">
              <div class="content_user_info">
                <div class="content_user_link">
                  <%= link_to("#{@picture.user.name}", user_path(@picture.user.id)) %>
                </div>
                <div class="content_update_time">
                  <%= @picture.updated_at.strftime('%Y年%m月%d日 %H:%M:%S') %>
                </div>
              </div>
              <div class="content_image_area" >
                <img src="<%= @picture.image.url %>" class="img-responsive" alt="Responsive image">
              </div>
            </div>
            <div class="content_comment">
              <div class="form-group">
                <p><%= @picture.comment %></p>
              </div>
            </div>
            <div class="content_submit">
              <p>
                <% if @picture.user_id == current_user.id %>
                  <span class="to_link"><%= link_to("編集", edit_picture_path(@picture.id)) %></span>
                  <span class="margin_left_10"></span>
                  <span class="to_link">
                    <%= link_to("削除", picture_path(@picture.id), method: :delete, data: { confirm: "削除しますか？" }) %>
                  </span>
                  <span class="margin_left_10"></span>
                <% end %>
                <% unless @picture.user_id == current_user.id %>
                  <% if @favorite.present? %>
                    <span class="to_link">
                      <%= link_to("お気に入り解除する", favorite_path(id: @favorite.id), method: :delete) %>
                    </span>
                  <% else %>
                    <span class="to_link">
                      <%= link_to("お気に入りする", favorites_path(id: @picture.id), method: :post) %>
                    </span>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="right hidden-xs hidden-sm col-md-4"></div>
    </div>
  </div>
</div>
